.moveButton {
    position: absolute;
    background-color: #ffcc00; /* Yellow */
    border: none;
    color: #000000; /* Black */
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }

  .moveButton:hover {
    background-color: #ffff00; /* Bright Yellow */
  }

